.homeBanner {
  flex-direction: column;
  align-items: center;
}

.homeHeading {
  text-align: center;
  color: white;
  text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25);
  margin-top: 0.5em;
}

.homeHeading::selection {
  background: #1b8dff;
}
