<% provide(:page, "blog") %>
<section class="section">
    <div class="container">
        <h1 class="title center is-size-1">
            Blog Name
        </h1>
    </div>
</section>
<%= render 'layouts/navbar' %>
<section class="section">
    <div class="container">
        <h1 class="subtitle center">
            Nothing here yet. I'll update this page once I have an original thought.
        </h1>
    </div>
</section>