.terminal-button {
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
}

.terminal-button--red {
  background-color: #ff5f56;
}

.terminal-button--green {
  background-color: #27c93f;
}

.terminal-button--yellow {
  background-color: #ffbd2e;
}
