<section id="about" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">About Me</h2>
        <div class="columns center">
            <div class="column is-two-thirds">
                <hr class="hr">
            </div>
        </div>
        <div class="columns center">
            <div class="column is-two-thirds">
                <p class="paragraph">
                    I'm a self-taught developer, and I like making Rails applications (though any new tech is fun to learn). 
                    I started teaching myself how to program in the first few months of 2019, and I made it a goal of mine 
                    to become a professional developer before the year's end.
                </p>
                <p class="paragraph">/* This bio is still a work in progress */</p>
                <p class="paragraph">Some of my interests include:</p>
                <ul class="paragraph">
                    <li>Learning challenging concepts</li>
                    <li>Slammin' keys on my piano</li>
                    <li>Showing affection to pets</li>
                    <li>Developing a bangin' website</li>
                </ul>
                <p>Catch me next time when I decide to update this page.</p>
            </div>
        </div>
    </div>
</section>