<section id="banner" class="hero is-dark is-bold is-fullheight">
    <div class="hero-head">
        <span style="min-height: 112px"></span>
    </div>
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <h1 class="title has-text-centered has-text-weight-light is-size-1">
                    Dennis <span class="blue">Cope</span>
                </h1>
                <h2 class="subtitle has-text-centered has-text-weight-light">
                    Jr Fullstack <span class="blue">Developer</span>
                </h2>
            </section>
            <section class="section">
                <div class="center">
                    <%= link_to(
                            image_tag("GitHub-Mark-Light-120px-plus-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "Link to github" } ),
                        "https://github.com/coped") %>
                    <%= link_to(
                            image_tag("linkedin-dark-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "Link to linkedin" } ),
                        "https://www.linkedin.com/in/dennis-cope") %>
                    <%= mail_to("coped@tutanota.com",
                            image_tag("email-logo-dark-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "coped@tutanota" } )) %>
                </div>
            </section>
            <section class="section has-text-centered">
                <p class=" subtitle is-italic">Let's build something.</p>
            </section>
        </div>
    </div>
    <div class="hero-foot center">
        <a id="banner-button">
            <%= image_tag("icons/angle-down-solid.svg", style: "min-width: 3em") %>
        </a>
    </div>
</section>