<section class="hero is-dark is-bold is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <h1 class="title center has-text-weight-light is-size-1">
                    Dennis Cope
                </h1>
                <h2 class="subtitle center">
                    Jr Fullstack Developer
                </h2>
            </section>
            <section class="section">
                <div class="columns center">
                    <%= link_to image_tag("GitHub-Mark-Light-120px-plus.png", { class: "column", size: "100x100", alt: "Link to github" } ), "https://github.com/coped" %>
                    <%= link_to image_tag("linkedin-dark.png", { class: "column", size: "100x100", alt: "Link to linkedin" } ), "https://www.linkedin.com/in/dennis-cope-548824164/" %>
                    <%= mail_to "coped@tutanota.com", image_tag("email-logo-dark.png", { class: "column", size: "100x100", alt: "coped@tutanota" } ), encode: "javascript" %>
                </div>
            </section>
            <section class="section">
                <h2 class="subtitle has-text-centered is-italic">
                    <a href="#navbar" class="button is-inverted is-dark is-rounded is-outlined">
                        Let's build something
                    </a>
                </h2>
            </section>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>

<%= render 'layouts/navbar' %>

<section class="section">
    <div class="container">
        <p class="center">
            /* This portfolio is currently a work in progress */
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-4 center">About me</h2>
        <p>Some of my interests include:</p>
        <ul>
            <li>Learning challenging concepts</li>
            <li>Slammin' keys on my piano</li>
            <li>Showing affection to pets</li>
            <li>Developing a bangin' website</li>
        </ul>
        <p>Catch me next time when I decide to update this page.</p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-4 center">Skills & Technologies</h2>
        <p>Fill in later</p>
    </div>
</section>