<section class="hero is-dark is-bold is-medium">
    <div class="hero-body container">
        <h1 class="title has-text-weight-light is-size-1">
            Dennis Cope
        </h1>
        <h2 class="subtitle">
            Fullstack Developer
        </h2>
    </div>
</section>
<%= render 'layouts/navbar' %>
<div class="container">
    <p>This is my portfolio, and it's currently a work in progress.</p>
    <br>
    <p>
        If you want to learn more about me, send an email on over to coped@tutanota.com, 
        or come checkout my github: <%= link_to image_tag("github_logo.png", size: "32x32", alt: "github"), "https://github.com/coped" %>
    <br><br>
    <h2 class="is-size-3">About me:</h2>
    <p>Some of my interests include:</p>
    <br>
    <ul>
        <li>Learning challenging concepts</li>
        <li>Slammin' keys on my piano</li>
        <li>Showing affection to pets</li>
        <li>Developing a bangin' website</li>
    </ul>
    <br>
    <p>Catch me next time when I decide to update this page.</p>
</div>