.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f8ff;
  padding-bottom: 2em;
  height: 100%;
  justify-content: center;
}

.container {
  display: flex;
  gap: 2em;
}
