<section class="section">
    <div class="container">
        <h1 class="title center is-size-1">
            <%= blog_title %>
        </h1>
        <h5 class="subtitle center is-size-5">
            By Dennis
        </h5>
    </div>
</section>
<%= render 'layouts/navbar' %>
<% if yield(:title) != blog_title %>
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><%= link_to(blog_title, blog_path) %></li>
                <li class="is-active"><%= link_to(yield(:title), "#") %></li>
            </ul>
            </nav>
        </div>
    </section>
<% end %>