// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    background: black;
}

.paragraph {
    margin-bottom: 1rem;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}
