// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.scss';

h1, h2, h3, h4, h5, h6 {
    font-family: $family-headings;
}

.blue {
    color: #5AF;
}

.banner-icon {
    padding: 0.7rem;
}

.captcha {
    margin: 1rem auto;
}

.logo {
    min-height: 2rem;
}

.resume {
    margin-right: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr {
    background-color: #ADF;
}

.paragraph {
    margin-bottom: 1rem;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.tool-icon {
    max-width: 65px;
}
