<% provide(:title, "Test") %>
<%= render 'banner' %>
<section class="section">
    <div class="container">
        <h1 class="is-size-1 center">Test</h1>
        <hr class="hr">
        <p class="paragraph">This is a test.</p>
    </div>
</section>