<footer class="footer">
    <div class="content has-text-centered">
        <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/coped-logo.png",
            style: "max-width: 15em", alt: "coped logo") %>
    </div>
</footer>