<nav id="navbar" class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to(
          image_tag("https://coped.s3-us-west-1.amazonaws.com/coped-logo.png",
          class: "logo", alt: "coped.dev logo"),
        root_path, class: "navbar-item") %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-options">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-options" class="navbar-menu is-size-5">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item is-tab" %>
      <%= link_to "Blog", blog_path, class: "navbar-item is-tab" %>
    </div>
    <div class="navbar-end">
      <div class="buttons">
        <%= link_to "Resume", "https://coped.s3-us-west-1.amazonaws.com/Cope-Resume.pdf", 
            class: "button resume is-info navbar-item" %>
      </div>
    </div>
  </div>
</nav>
<script>
  if (document.querySelector(".navbar-burger")) {
    document.querySelector(".navbar-burger").addEventListener("click", () => {
      document.querySelector(".navbar-burger").classList.toggle("is-active");
      document.querySelector(".navbar-menu").classList.toggle("is-active");
    });
  }
  if (document.querySelector("#banner-button")) {
    document.querySelector("#banner-button").addEventListener("click", () => {
      document.querySelector("#navbar").scrollIntoView({ behavior: "smooth" });
    });
  }
</script>