<nav id="navbar" class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to(image_tag("coped-logo.png", class: "logo"), root_path, class: "navbar-item") %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-options">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-options" class="navbar-menu is-size-5">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item is-tab" %>
      <%= link_to "Blog", blog_path, class: "navbar-item is-tab" %>
    </div>
    <div class="navbar-end">
      <div class="buttons">
        <%= link_to "Resume", asset_path("sample_document.pdf"), class: "button blue is-info resume navbar-item" %>
      </div>
    </div>
  </div>
</nav>